PORT=3000
MONGODB_URI=mongodb
TOKEN_SECRET_KEY=change_this_to_a_long_random_secret
TOKEN_EXPIRES_IN=7d

SUPERADMIN_NAME=Super Admin
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=ChangeThisPassword123

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

